<div class="stop-selector">
  <h2>{{ chooseStop }}</h2>
  
  <div class="selector-container">
    <select [(ngModel)]="selectedLine" (change)="onLineSelect()" class="stop-select">
      <option value="">{{ bothLines }}</option>
      <option value="green">{{ greenLine }}</option>
      <option value="red">{{ redLine }}</option>
    </select>
    <select [(ngModel)]="selectedStop" (change)="onStopSelect()" class="stop-select">
      <option value="">{{ chooseStop }}</option>
      @for (stop of filteredStops; track stop.code) {
        <option [value]="stop.code">
          {{ stop.nameEN | translateStopName }}
        </option>
      }
    </select>
  </div>

  @if (loading) {
    <div class="loading">
      {{ loadingData }}
      <span class="spinner"></span>
    </div>
  }

  @if (error) {
    <div class="error">
      {{ error }}
    </div>
  }

  @if (luasData && !loading) {
    <app-display-timetable [timetable]="luasData" [locale]="locale" />
  }
</div>
