/* You can add global styles to this file, and also import other style files */
@use './styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
  margin: 0;
  min-height: 100vh;
  background-color: variables.$bg-light;
  color: variables.$text-light;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Inter', sans-serif;
}

html.dark-mode, 
html.dark-mode body {
  background-color: variables.$bg-dark;
  color: variables.$text-dark;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .desktop-only {
    display: none;
  }
}
